<script type="text/javascript">
  document.observe("dom:loaded", function() {
    var estimated_hours = 0;

    var update_selected_issue_stat = function(estimated) {
      var selected_issues = $$('tr.context-menu-selection').length;
      if (selected_issues > 0) {
        if (estimated > 0) {
          $('estimated_time_value').update(estimated);
          $('total_estimated_time').show();
        }
        else {
          $('total_estimated_time').hide();
        }

        $('selected_issues_count').update(selected_issues);
        $('selected_issue_summary_time').show();
      }
      else {
        $('selected_issue_summary_time').hide();
      }
    }

    var count_all = function(){
      var estimated_hours = 0;
      var a = $$('tr.context-menu-selection .estimated_hours');
      for (var i=0; i < a.length; i++) {
        if (a[i].innerHTML != '') {
          estimated_hours += parseFloat(a[i].innerHTML);
        }
      }
      estimated_hours = Math.round(estimated_hours*100)/100;
      update_selected_issue_stat(estimated_hours);
    };
    $$('table.issues thead tr th:nth-child(1) a')[0].observe('click', count_all);
  });
</script>

<div id="selected_issue_summary_time" style="display: none; background: #507AAA; border:2px solid #666; color:#FFF; padding:10px; position:fixed; top:300px;">
  <%= t(:number_of_selected_issues) %>: <span id="selected_issues_count">0</span>
  <div id="total_estimated_time"><%= t(:field_estimated_hours) %>:  <span id="estimated_time_value">0</span></div>
</div>


