<script type="text/javascript">
  document.observe("dom:loaded", function() {
    var estimated_hours = 0;
    var selected_issues = 0;
    var check_all = $$('table.issues thead tr th:nth-child(1) a img')[0];
    var issues_table = $$('table.issues');

    var update_selected_issue_stat = function(estimated, selected_issues) {
      if (selected_issues > 0) {
        estimated = Math.round(estimated_hours*100)/100;
        if (estimated > 0) {
          $('estimated_time_value').update(estimated);
          $('total_estimated_time').show();
        }
        else {
          $('total_estimated_time').hide();
        }

        $('selected_issues_count').update(selected_issues);
        $('selected_issue_summary_time').show();
      }
      else {
        $('selected_issue_summary_time').hide();
      }
    }

    var estimated_time_or_null = function(tr) {
      var td = tr.down('.estimated_hours');
      if (td && td.innerHTML != '') {
        return parseFloat(td.innerHTML);
      }
      return 0;
    }

    var recount_time = function(event) {
      if (event.target == check_all) {
        selected_issues = $$("tr.context-menu-selection").length;
        estimated_hours = 0;
        var a = $$('tr.context-menu-selection .estimated_hours');
        for (var i=0; i < a.length; i++) {
          if (a[i].innerHTML != '') {
            estimated_hours += parseFloat(a[i].innerHTML);
          }
        }
      }
      else {
        var parents = event.target.ancestors();
        var click_was_on_tr = false;
        var issue_tr = null;
        for (var i=0; i<parents.length; i++) {
          if(parents[i].hasClassName('hascontextmenu')) {
            issue_tr = parents[i];
            break;
          }
        }

        if (issue_tr) {
          if (event.target.type == 'checkbox' || event.ctrlKey) {
            // check if this tr is checked
            var this_est_time = estimated_time_or_null(issue_tr);
            if (issue_tr.hasClassName('context-menu-selection')) { // it means uncheck
              estimated_hours -= this_est_time;
              selected_issues--;
            }
            else { // check
              estimated_hours += this_est_time;
              selected_issues++;
            }
          }
          else { // select current
            selected_issues = 1;
            estimated_hours = estimated_time_or_null(issue_tr);
          }
        }
        else {
          estimated_hours = 0;
          selected_issues = 0;
        }
      }
      update_selected_issue_stat(estimated_hours, selected_issues);
    };

    document.body.observe('click', recount_time);
  });
</script>

<div id="selected_issue_summary_time" style="display: none; background: #507AAA; border:2px solid #666; color:#FFF; padding:10px; position:fixed; top:300px;">
  <%= t(:number_of_selected_issues) %>: <span id="selected_issues_count">0</span>
  <div id="total_estimated_time"><%= t(:field_estimated_hours) %>:  <span id="estimated_time_value">0</span></div>
</div>


